body{
    font-family: 'Roboto Slab', serif;
    font-size:11px; 
    background-color: grey;
    color:white;
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;

}
h1{
    font-family: 'Oswald', sans-serif;
    font-size:22px; 

    color:cornsilk;
}
img{
    float: right;
    margin-left: 4em;
    margin-bottom: 6em;
}
button{
    background-color:burlywood;
    color:bisque;
    border:none;
    padding:lem;
}